body
{  
background-color: lightblue;
}
div.listContainer {
  text-align: center;
  background-color: green;
  display: inline-block;
}
ul.centerUL {
  display: inline-block;
  text-align: left;
}
