body{
	 background-color: black;
	 margin-top: 0px;
	 margin-bottom: 0px;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
center.title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 30px;
}
button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button.centerButton{
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: gray;
}
button.centerButton:hover {
  background-color: #4CAF50;
  color: white;
}
div {
	margin-left: auto;
	margin-right: auto;
	width: 8em;
}
