body.main{
	 background-color: black;
	 margin-top: 0px;
	 margin-bottom: 0px;
   color: white;
}
div.listContainer {
	background-color: gray;
}
center {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
